.header {
    height: 1200px;
}

.header__section {
    flex-direction: row;
    margin-top: 60px;
    align-self: center;
    max-width: 1500px;
}

.header__name-container {
    font-size: 3.5rem;
    min-height: 485px;
}

.header__name-container-img {
    max-height: 400px;
}

.header__bio-container {
    margin-right: 40px;
    font-size: 3rem;
}

.header__social-container {
    padding: 5px;
    margin-top: 50px;
    min-width: none;
    border-radius: 20px;
}

.header__social-container .social-icon {
    width: 50px;
    height: 50px;
}